@use './../mixin';

.btn {
  padding: .25rem 1rem;
  border: solid 2px var(--color-dark);
  background-color: var(--color-light);
  border-radius: 5rem;
  transition: .2s ease;
  cursor: pointer;

  &:hover,
  &--actif {
    background-color: var(--color-dark);
    color: var(--color-light);
  }
}