@use './../mixin';

.services {
  align-items: stretch;

  &__card {
    box-shadow: -1rem -1rem 3rem -2rem rgba(0,0,0,.2);
    padding: 2rem;
    text-align: center;

    &:hover {
      // au survol de la card, l'icone change d'aspect
      .services__icon {
        color: var(--color-alt);
        scale: 1.1;
      }
    }
  }

  &__icon {
    font-size: 3rem;
    transition: .3s ease;
  }

  &__title {
    font-family: var(--font-title);
    font-weight: 700;
    font-size: 1.5rem;
    margin-bottom: 1em;
  }
}